.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    display: flex;
    justify-content: space-between;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
  }
  .avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .avatarwrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-right: 10px;
  }
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar {
      display: block;
    }
    .navbar a {
      float: none;
      display: block;
    }
    .avatarwrapper {
      display: flex;
    justify-content: center;
    }
  }